---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Button from "../components/Button/index.jsx";
import Nav from "../components/Nav/index.jsx";
import Footer from "../components/Footer/index.jsx";
import PortfolioPreview from "../components/PortfolioPreview/index.jsx";
import { Memoji } from '../components/Memoji.jsx'

// Data Fetching: List all Markdown posts in the repo.
const projects = Astro.fetchContent("./project/**/*.md");
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <MainHead title="Chaviea Cleveland: Personal Site" />
    <style lang="scss">
      $w-s: 750px;
      $w-m: 1000px;

      .hero {
        position: relative;
        overflow: hidden;

        @media (min-width: $w-s) {
          height: 45vw;
        }
      }

      .img {
        display: block;
        width: 100%;
        height: 525px;
        object-fit: cover;

        @media (min-width: $w-s) {
          height: auto;
          object-position: 0 -106px;
          height: 100%;
        }
      }

      .gradient,
      .gradient2 {
        background-size: cover;
        pointer-events: none;
        mix-blend-mode: screen;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }

      .gradient2 {
        mix-blend-mode: multiply;
        background-size: cover;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;

        @media (min-width: $w-s) {
          padding-left: 4rem;
          padding-right: 2rem;
          justify-content: center;
          align-items: center;
          flex-direction: row-reverse;
          gap: 2.5rem;
        }
      }

      .title {
        font-weight: 900;
        font-size: var(--f-u6);
        margin-bottom: 0.5rem;
        margin-top: 0;

        @media (min-width: $w-s) {
          font-size: var(--f-u8);
        }

        @media (min-width: $w-m) {
          font-size: var(--f-u12);
        }
      }

      .grid {
        display: grid;
        grid-gap: 2rem;

        @media (min-width: 1200px) {
          grid-template-columns: 2fr 1fr;
        }
      }

      .sectionTitle {
        font-weight: 700;
        font-size: var(--f-u8);
        margin-top: 4rem;
        margin-bottom: 2rem;
      }

      .role {
        position: relative;
        display: inline-block;
        font-weight: 900;
        color: var(--t-bg);
        background-color: var(--t-fg);
        padding: 0.25em 0.5em;
        z-index: 2;

        @media (min-width: $w-s) {
          font-size: var(--f-u3);
        }

        + .role {
          margin-left: 1em;
        }
      }

      .desc {
        font-size: var(--f-u2);
        margin-top: 1.5rem;
        margin-bottom: 0;
      }

      .subtitle {
        display: block;
        font-weight: 400;
        font-size: var(--f-d6);
        letter-spacing: -0.0625em;
      }

      .bio {
        line-height: 2;
        margin-bottom: 2rem;

        > span:first-of-type {
          line-height: 1;
          margin-bottom: 0.5em;
          display: block;
          font-weight: 700;
          font-size: var(--f-u4);
        }
      }

      .memoji {
        background: pink;
        border-radius: 100%;
        margin: 1rem auto 2rem;
        border: 6px solid white;
        padding: 3rem;
      }

      .memoji :global(img) {
        width: 100%;
        max-width: 150px;

        @media (min-width: $w-s) {
          max-width: 200px;
        }

        @media (min-width: $w-m) {
          max-width: 300px;
        }
      }

      .author-details {
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <Nav />
    <header class="hero">
      <img
        width="1600"
        height="1131"
        class="img"
        src="https://images.unsplash.com/photo-1550001632-fcfab51361ff?w=1200&q=75"
        srcSet="https://images.unsplash.com/photo-1550001632-fcfab51361ff?w=1200&q=75 800w,
        https://images.unsplash.com/photo-1550001632-fcfab51361ff?w=1200&q=75 1200w,
        https://images.unsplash.com/photo-1550001632-fcfab51361ff?w=1600&q=75 1600w,
        https://images.unsplash.com/photo-1550001632-fcfab51361ff?w=2400&q=75 2400w,"
        sizes="(max-width: 800px) 800px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, (max-width: 2400px) 2400px, 1200px" />
      <div class="gradient"></div>
      <div class="gradient2"></div>
      <div class="overlay">
        <div class="memoji">
          <Memoji />
        </div>
        <div class="author-details">
          <h1 class="title">
            <small class="subtitle">Hello! I'm </small>Chaviea Cleveland
          </h1>
          <div>
            <span class="role"> 💅🏾 Designer </span>&nbsp;
            <span class="role"> 🎨 Artist </span>&nbsp;
          </div>
          <p class="desc">Lover of dogs, manga, and makeup.</p>
        </div>
      </div>
    </header>
    <main class="wrapper mt4 mb4">
      <div class="grid">
        <div class="section">
          <h3 class="sectionTitle">Selected Work</h3>
          <PortfolioPreview project={featuredProject} />
          <div class="tac mt4">
            <a href="/projects">
              <Button>View All</Button>
            </a>
          </div>
        </div>
        <div class="section">
          <h3 class="sectionTitle">About me</h3>
          <p class="bio">
            <span>Hello!</span> I’m Chaviea, a fledgling designer with an eye for
            unique design. I'm currently in school studying graphic design with the
            hopes of one day designer consumer expoeriences that make people's lives
            <b>better!</b>
          </p>
          <p>
            <a href="/about">Read more</a>
          </p>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
